.menu ul {
    border-bottom: 1px solid rgba(85, 85, 85, 0.3);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: inline-block;
    color: black;
    margin: 10px 0px 10px 10px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

xmp {
    text-align: left;
    float: left;
    display: block;
    background: white !important;
    align-items: left;
    all: inherit;
    padding: 30px;
    color: black;
    font-family: monospace;
    font-size: 14px;
    font-style: oblique;
    width: 100% !important;
}

.buttomBit {
    float: right;
    position: absolute;
    right: 20px;
    top: 0;
}

.imgMenu {
    float: left;
}

.example {
    border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

.borderExample {
    display: inline-block;
    height: 65px;
    line-height: 4;
    margin: 0px 10px 25px 0;
    text-align: center;
}

.borderColors {
    display: inline-block;
    height: 65px;
    width: 100%;
    margin: 0 10px 0 0;
    text-align: center;
}

.marginsGrid {
    margin-bottom: 10px;
    height: 50px;
}

.textGetting {
    height: 50px;
    text-align: center;
}

.palletCollor {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.gridColor {
    margin-right: 15px;
}

.overflowStyle {
    width: 150px;
    height: 150px;
    ;
}

.widthOverflow {
    margin: 0 26px 15px 0px;
}

.space {
    margin: 0 30px 20px 0;
}

.precode {
    resize: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: block;
    overflow: hidden;
    outline: none !important;
}