.menu ul {
    border-bottom: 1px solid rgba(85, 85, 85, 0.3);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: inline-block;
    color: black;
    margin: 10px 0px 10px 10px;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.buttomBit {
    float: right;
    position: absolute;
    right: 20px;
    top: 0;
}

.imgMenu {
    float: left;
}

.example {
    border-bottom: 1px solid rgba(85, 85, 85, 0.3);
}

.borderExample {
    display: inline-block;
    height: 65px;
    line-height: 4;
    margin: 0px 10px 25px 0;
    text-align: center;
}

.textGetting {
    height: 50px;
    text-align: center;
}

.palletCollor {
    display: inline-block;
}

.precode {
    resize: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: block;
    overflow: hidden;
    outline: none !important;
}