/*! BOSS CSS v0.1.0 | http://bosscss.com.br */
/*     
 *      
 *         __
 *        / /_    ____    ______  ______
 *       / __ \  / __ \  /  ___/ /  ___/
 *      / /_/ / / /_/ / (__   ) (__   )
 *      \____/  \____/ /___ _/ /____ /
 *
 *
 *    TABLE OF CONTENTS
 *
 *     
 *    1   - border
 *    2   - colors
 *    3   - elevations
 *    4   - grid
 *    5   - input
 *    6   - layout
 *    7   - lists
 *    8   - margin
 *    9   - overflow
 *    10   - padding
 *    11   - reset
 *    12   - rotate
 *    13   - typography
 *    14   - z-index
 *
 */
.bra0 {
  border-radius: 0px;
}

.bra2 {
  border-radius: 2px;
}

.bra4 {
  border-radius: 4px;
}

.bra6 {
  border-radius: 6px;
}

.bra8 {
  border-radius: 8px;
}

.bra10 {
  border-radius: 10px;
}

.bra12 {
  border-radius: 12px;
}

.bra16 {
  border-radius: 16px;
}

.bra18 {
  border-radius: 18px;
}

.bra20 {
  border-radius: 20px;
}

.bpra0 {
  border-radius: 0%;
}

.bpra5 {
  border-radius: 5%;
}

.bpra10 {
  border-radius: 10%;
}

.bpra15 {
  border-radius: 15%;
}

.bpra20 {
  border-radius: 20%;
}

.bpra25 {
  border-radius: 25%;
}

.bpra30 {
  border-radius: 30%;
}

.bpra40 {
  border-radius: 40%;
}

.bpra45 {
  border-radius: 45%;
}

.bpra50 {
  border-radius: 50%;
}

/* background color variables */
/* text color variables */
/* background colors */
.bcpl {
  background-color: #ffacac;
}

.bcpm {
  background-color: #ff5d5d;
}

.bcpb {
  background-color: #c70000;
}

.bcsl {
  background-color: #d8ffd3;
}

.bcsm {
  background-color: #6dff57;
}

.bcsb {
  background-color: #19bf00;
}

.bcwl {
  background-color: #ffffff;
}

.bcwm {
  background-color: #e0e0e0;
}

.bcwd {
  background-color: #b5b5b5;
}

.bcbl {
  background-color: #ffffff;
}

.bcbm {
  background-color: #e0e0e0;
}

.bcbd {
  background-color: #b5b5b5;
}

/* text colors */
.tcpl {
  color: #ffacac;
}

.tcpm {
  color: #ff5d5d;
}

.tcpb {
  color: #c70000;
}

.tcsl {
  color: #d8ffd3;
}

.tcsm {
  color: #6dff57;
}

.tcsb {
  color: #19bf00;
}

.tcwl {
  color: #ffffff;
}

.tcwm {
  color: #e0e0e0;
}

.tcwd {
  color: #b5b5b5;
}

.tcbl {
  color: #ffffff;
}

.tcbm {
  color: #e0e0e0;
}

.tcbd {
  color: #b5b5b5;
}

/* box shadow */
.bs1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bs2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bs3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* box shadow hover */
.bs4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bsh1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bsh2 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bsh3 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bsh4 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/*


// --------------------------------------------------
// class minification   (thinking ... )
// --------------------------------------------------


grid                                   grd
container                              ctnr
order                                  ordr
wrap-reverse                           wrp-rev
direction-row                          dir-row
direction-row-reverse                  dir-row-rev
direction-column                       dir-clmn
direction-column-reverse               dir-clmn-rev
align-start                            alg-stt
align-end                              alg-end
align-center                           alg-ctr
align-baseline                         alg-bsln
align-content-start                    alg-ct-stt
align-content-end                      alg-ct-end
align-content-center                   alg-ct-ctr
align-content-space-between            alg-ct-spc-btwn
align-content-space-around             alg-ct-spc-ard
align-self-stretch                     alg-sf-stch
align-self-start                       alg-sf-stt
align-self-end                         alg-sf-end
align-self-center                      alg-sf-ctr
align-self-baseline                    alg-sf-bsln
justify-start                          jst-stt
justify-end                            jst-end
justify-center                         jst-ctr
justify-space-between                  jst-spc-btwn
justify-space-around                   jst-spc-ard
grid-bleed                             grd-bld
hidden-lg                              hidden-lg
hidden-md                              hid-md
hidden-sm                              hid-sm
hidden-xs                              hid-xs
hidden-xxs                             hid-xxs
flex-footer                            flx-ftr
col-bleed                              col-bld
col-bleed-x                            col-bld-x
col-bleed-y                            col-bld-y

*/
.container,
.container-full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.container .grid,
.container-full .grid {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  letter-spacing: -.31em;
  *letter-spacing: normal;
  word-spacing: -.43em;
  list-style-type: none;
}

.grid::before, .grid::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class^="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

[class^="col-"]::before, [class^="col-"]::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class^="col-"] .grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: -15px;
}

.col-12 {
  width: 100%;
  *width: 99.9%;
}

.col-11 {
  width: 91.66667%;
  *width: 91.56667%;
}

.col-10 {
  width: 83.33333%;
  *width: 83.23333%;
}

.col-9 {
  width: 75%;
  *width: 74.9%;
}

.col-8 {
  width: 66.66667%;
  *width: 66.56667%;
}

.col-7 {
  width: 58.33333%;
  *width: 58.23333%;
}

.col-6 {
  width: 50%;
  *width: 49.9%;
}

.col-5 {
  width: 41.66667%;
  *width: 41.56667%;
}

.col-4 {
  width: 33.33333%;
  *width: 33.23333%;
}

.col-3 {
  width: 25%;
  *width: 24.9%;
}

.col-2 {
  width: 16.66667%;
  *width: 16.56667%;
}

.col-1 {
  width: 8.33333%;
  *width: 8.23333%;
}

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-xs-11 {
    width: 91.66667%;
    *width: 91.56667%;
  }
  .col-xs-10 {
    width: 83.33333%;
    *width: 83.23333%;
  }
  .col-xs-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-xs-8 {
    width: 66.66667%;
    *width: 66.56667%;
  }
  .col-xs-7 {
    width: 58.33333%;
    *width: 58.23333%;
  }
  .col-xs-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-xs-5 {
    width: 41.66667%;
    *width: 41.56667%;
  }
  .col-xs-4 {
    width: 33.33333%;
    *width: 33.23333%;
  }
  .col-xs-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-xs-2 {
    width: 16.66667%;
    *width: 16.56667%;
  }
  .col-xs-1 {
    width: 8.33333%;
    *width: 8.23333%;
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-sm-11 {
    width: 91.66667%;
    *width: 91.56667%;
  }
  .col-sm-10 {
    width: 83.33333%;
    *width: 83.23333%;
  }
  .col-sm-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-sm-8 {
    width: 66.66667%;
    *width: 66.56667%;
  }
  .col-sm-7 {
    width: 58.33333%;
    *width: 58.23333%;
  }
  .col-sm-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-sm-5 {
    width: 41.66667%;
    *width: 41.56667%;
  }
  .col-sm-4 {
    width: 33.33333%;
    *width: 33.23333%;
  }
  .col-sm-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-sm-2 {
    width: 16.66667%;
    *width: 16.56667%;
  }
  .col-sm-1 {
    width: 8.33333%;
    *width: 8.23333%;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-md-11 {
    width: 91.66667%;
    *width: 91.56667%;
  }
  .col-md-10 {
    width: 83.33333%;
    *width: 83.23333%;
  }
  .col-md-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-md-8 {
    width: 66.66667%;
    *width: 66.56667%;
  }
  .col-md-7 {
    width: 58.33333%;
    *width: 58.23333%;
  }
  .col-md-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-md-5 {
    width: 41.66667%;
    *width: 41.56667%;
  }
  .col-md-4 {
    width: 33.33333%;
    *width: 33.23333%;
  }
  .col-md-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-md-2 {
    width: 16.66667%;
    *width: 16.56667%;
  }
  .col-md-1 {
    width: 8.33333%;
    *width: 8.23333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-lg-11 {
    width: 91.66667%;
    *width: 91.56667%;
  }
  .col-lg-10 {
    width: 83.33333%;
    *width: 83.23333%;
  }
  .col-lg-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-lg-8 {
    width: 66.66667%;
    *width: 66.56667%;
  }
  .col-lg-7 {
    width: 58.33333%;
    *width: 58.23333%;
  }
  .col-lg-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-lg-5 {
    width: 41.66667%;
    *width: 41.56667%;
  }
  .col-lg-4 {
    width: 33.33333%;
    *width: 33.23333%;
  }
  .col-lg-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-lg-2 {
    width: 16.66667%;
    *width: 16.56667%;
  }
  .col-lg-1 {
    width: 8.33333%;
    *width: 8.23333%;
  }
}

@media (min-width: 1600px) {
  .col-xlg-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-xlg-11 {
    width: 91.66667%;
    *width: 91.56667%;
  }
  .col-xlg-10 {
    width: 83.33333%;
    *width: 83.23333%;
  }
  .col-xlg-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-xlg-8 {
    width: 66.66667%;
    *width: 66.56667%;
  }
  .col-xlg-7 {
    width: 58.33333%;
    *width: 58.23333%;
  }
  .col-xlg-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-xlg-5 {
    width: 41.66667%;
    *width: 41.56667%;
  }
  .col-xlg-4 {
    width: 33.33333%;
    *width: 33.23333%;
  }
  .col-xlg-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-xlg-2 {
    width: 16.66667%;
    *width: 16.56667%;
  }
  .col-xlg-1 {
    width: 8.33333%;
    *width: 8.23333%;
  }
}

.col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto;
}

@media (min-width: 576px) {
  .col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 992px) {
  .col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 1600px) {
  .col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

@media only screen and (min-width: 576px) {
  .order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 768px) {
  .order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 992px) {
  .order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.no-wrap [class^="col-"] {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.align-end [class^="col-"] {
  vertical-align: bottom;
}

.align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-center [class^="col-"] {
  vertical-align: middle;
}

.align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.align-content-end [class^="col-"] {
  vertical-align: bottom;
}

.align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}

.align-content-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.align-content-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}

.align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline;
}

.justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-start.grid {
  text-align: left;
}

.justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-end.grid {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
}

.justify-end.grid [class^="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-center.grid {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.justify-center.grid [class^="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-space-between.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.justify-space-between.grid [class^="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.justify-space-around.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.justify-space-around.grid [class^="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.grid-bleed [class*="col-"] {
  padding: 0;
}

.col-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.col-grid.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.col-bleed {
  padding: 0;
}

.col-bleed-x {
  padding: 15px 0;
}

.col-bleed-y {
  padding: 0 15px;
}

.flex-img {
  display: block;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  width: 100%;
  *width: auto;
}

.flex-footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.flex-footer > :last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .hidden-xxs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}

input[type="checkbox"], input[type="radio"] {
  width: 18px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  outline-width: 0;
  border-radius: 50%;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
  animation: press .8s 1;
}

input[type="checkbox"]:before, input[type="checkbox"]:after, input[type="radio"]:before, input[type="radio"]:after {
  content: "";
}

input[type="checkbox"]:after, input[type="radio"]:after {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666;
  transition: 240ms;
}

input[type="checkbox"]:disabled:after, input[type="radio"]:disabled:after {
  border-color: #ddd;
  background-color: #eee;
  cursor: not-allowed;
}

input[type="checkbox"]:disabled:checked:after, input[type="radio"]:disabled:checked:after {
  background-color: #eee;
  border-color: #ddd;
}

input[type="checkbox"]:disabled:checked:before, input[type="radio"]:disabled:checked:before {
  border-color: #999;
}

input[type="checkbox"]:after {
  border-radius: 2px;
  background-color: transparent;
  z-index: 999;
}

input[type="checkbox"]:checked:after {
  background-color: #ff5d5d;
  border-color: #ff5d5d;
}

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  transform: rotate(45deg);
}

input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff5d5d;
  width: 18px;
  height: 18px;
  display: block;
  margin-top: -2px;
  border-radius: 50%;
  transition: 240ms;
  transform: scale(0);
}

input[type="radio"]:after {
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  transform: scale(0.5);
}

input[type="radio"]:checked:after {
  border-color: #ff5d5d;
  background-color: transparent;
}

input[type="radio"]:checked:disabled:before {
  background-color: #ccc;
}

@keyframes press {
  0% {
    box-shadow: 0 0 0 0 #ff9090;
  }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 144, 144, 0.4);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 144, 144, 0);
  }
}

/* float */
.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.fu {
  float: unset;
}

/* dislpay */
.db {
  display: block;
}

.df {
  display: flex;
}

.di {
  display: inline;
}

.dt {
  display: table;
}

.dib {
  display: inline-block;
}

.dif {
  display: inline-flex;
}

.dit {
  display: inline-table;
}

.dtc {
  display: table-cell;
}

.dtca {
  display: table-caption;
}

.dtcg {
  display: table-column-group;
}

.dfg {
  display: table-footer-group;
}

.dthg {
  display: table-header-group;
}

.dtr {
  display: table-row;
}

.dtrg {
  display: table-row-group;
}

/* position */
.poa {
  position: absolute;
}

.por {
  position: relative;
}

.pof {
  position: fixed;
}

.pou {
  position: unset;
}

.poy {
  position: sticky;
}

.pos {
  position: static;
}

.lstn {
  list-style-type: none;
}

.lstc {
  list-style-type: circle;
}

.lsts {
  list-style-type: square;
}

.lspo {
  list-style-position: outside;
}

.lspi {
  list-style-position: inside;
}

/* margin */
.mt0 {
  margin-top: 0rem;
}

.mb0 {
  margin-bottom: 0rem;
}

.ml0 {
  margin-left: 0rem;
}

.mr0 {
  margin-right: 0rem;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.ml3 {
  margin-left: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.ml5 {
  margin-left: 5rem;
}

.mr5 {
  margin-right: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.ml6 {
  margin-left: 6rem;
}

.mr6 {
  margin-right: 6rem;
}

.mt7 {
  margin-top: 7rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.ml7 {
  margin-left: 7rem;
}

.mr7 {
  margin-right: 7rem;
}

.mt8 {
  margin-top: 8rem;
}

.mb8 {
  margin-bottom: 8rem;
}

.ml8 {
  margin-left: 8rem;
}

.mr8 {
  margin-right: 8rem;
}

.mt9 {
  margin-top: 9rem;
}

.mb9 {
  margin-bottom: 9rem;
}

.ml9 {
  margin-left: 9rem;
}

.mr9 {
  margin-right: 9rem;
}

.mt10 {
  margin-top: 10rem;
}

.mb10 {
  margin-bottom: 10rem;
}

.ml10 {
  margin-left: 10rem;
}

.mr10 {
  margin-right: 10rem;
}

/* overflow */
.ovv {
  overflow: visible;
}

.ovh {
  overflow: hidden;
}

.ovs {
  overflow: scroll;
}

.ova {
  overflow: auto;
}

.oxv {
  overflow-x: visible;
}

.oxh {
  overflow-x: hidden;
}

.oxs {
  overflow-x: scroll;
}

.oxa {
  overflow-x: auto;
}

.oyv {
  overflow-y: visible;
}

.oyh {
  overflow-y: hidden;
}

.oys {
  overflow-y: scroll;
}

.oya {
  overflow-y: auto;
}

/* padding */
.pt0 {
  padding-top: 0rem;
}

.pb0 {
  padding-bottom: 0rem;
}

.pl0 {
  padding-left: 0rem;
}

.pr0 {
  padding-right: 0rem;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pl3 {
  padding-left: 3rem;
}

.pr3 {
  padding-right: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pl4 {
  padding-left: 4rem;
}

.pr4 {
  padding-right: 4rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.pl5 {
  padding-left: 5rem;
}

.pr5 {
  padding-right: 5rem;
}

.pt6 {
  padding-top: 6rem;
}

.pb6 {
  padding-bottom: 6rem;
}

.pl6 {
  padding-left: 6rem;
}

.pr6 {
  padding-right: 6rem;
}

.pt7 {
  padding-top: 7rem;
}

.pb7 {
  padding-bottom: 7rem;
}

.pl7 {
  padding-left: 7rem;
}

.pr7 {
  padding-right: 7rem;
}

.pt8 {
  padding-top: 8rem;
}

.pb8 {
  padding-bottom: 8rem;
}

.pl8 {
  padding-left: 8rem;
}

.pr8 {
  padding-right: 8rem;
}

.pt9 {
  padding-top: 9rem;
}

.pb9 {
  padding-bottom: 9rem;
}

.pl9 {
  padding-left: 9rem;
}

.pr9 {
  padding-right: 9rem;
}

.pt10 {
  padding-top: 10rem;
}

.pb10 {
  padding-bottom: 10rem;
}

.pl10 {
  padding-left: 10rem;
}

.pr10 {
  padding-right: 10rem;
}

/* reset */
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

.ro45 {
  transform: rotate(45deg);
}

.ro90 {
  transform: rotate(90deg);
}

.ro135 {
  transform: rotate(135deg);
}

.ro180 {
  transform: rotate(180deg);
}

.ro225 {
  transform: rotate(225deg);
}

.ro270 {
  transform: rotate(270deg);
}

.ro315 {
  transform: rotate(315deg);
}

/* font weight */
.fw1 {
  font-weight: 100;
}

.fw2 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw5 {
  font-weight: 500;
}

.fw6 {
  font-weight: 600;
}

.fw7 {
  font-weight: 700;
}

.fw8 {
  font-weight: 800;
}

.fw9 {
  font-weight: 900;
}

/* font size */
.fs1 {
  font-size: .5em;
}

.fs2 {
  font-size: .625em;
}

.fs3 {
  font-size: .75em;
}

.fs4 {
  font-size: .875em;
}

.fs5 {
  font-size: 1em;
}

.fs6 {
  font-size: 1.125em;
}

.fs7 {
  font-size: 1.25em;
}

.fs8 {
  font-size: 1.375em;
}

.fs9 {
  font-size: 1.5em;
}

.fm1 {
  font-size: 1.625em;
}

.fm2 {
  font-size: 1.75em;
}

.fm3 {
  font-size: 1.875em;
}

.fm4 {
  font-size: 2em;
}

.fm5 {
  font-size: 2.125em;
}

.fm6 {
  font-size: 2.25em;
}

.fm7 {
  font-size: 2.375em;
}

.fm8 {
  font-size: 2.5em;
}

.fm9 {
  font-size: 2.625em;
}

.fl1 {
  font-size: 2.75em;
}

.fl2 {
  font-size: 2.875em;
}

.fl3 {
  font-size: 3em;
}

.fl4 {
  font-size: 3.125em;
}

.fl5 {
  font-size: 3.25em;
}

.fl6 {
  font-size: 3.375em;
}

.fl7 {
  font-size: 3.5em;
}

.fl8 {
  font-size: 3.625em;
}

.fl9 {
  font-size: 3.75em;
}

/* font style */
.fsn {
  font-style: normal;
}

.fsi {
  font-style: italic;
}

/* text transform */
.ttu {
  text-transform: uppercase;
}

.ttl {
  text-transform: lowercase;
}

.ttc {
  text-transform: capitalize;
}

.ttn {
  text-transform: none;
}

/* text align */
.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tj {
  text-align: justify;
}

/* text decoration */
.tdl {
  text-decoration: line-through;
}

.tdu {
  text-decoration: underline;
}

.tdn {
  text-decoration: none;
}

/* z-index */
.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.zx {
  z-index: 10;
}

.zx1 {
  z-index: 999;
}

.zx2 {
  z-index: 9999;
}

.zx3 {
  z-index: 99999;
}

.zx4 {
  z-index: 999999;
}

.zx5 {
  z-index: 9999999;
}

.zu {
  z-index: unset;
}
