/* background color variables */


/* text color variables */


/* background colors */

.bcpl {
    background-color: #ffacac;
}

.bcpm {
    background-color: #ff5d5d;
}

.bcpb {
    background-color: #c70000;
}

.bcsl {
    background-color: #d8ffd3;
}

.bcsm {
    background-color: #6dff57;
}

.bcsb {
    background-color: #19bf00;
}

.bcwl {
    background-color: #ffffff;
}

.bcwm {
    background-color: #e0e0e0;
}

.bcwd {
    background-color: #b5b5b5;
}

.bcbl {
    background-color: #FFCD00;
}

.bcbm {
    background-color: #008BEA;
}

.bcbd {
    background-color: #003349;
}

.bcbr {
    background-color: #00eac3
}


/* text colors */

.tcpl {
    color: #ffacac;
}

.tcpm {
    color: #ff5d5d;
}

.tcpb {
    color: #c70000;
}

.tcsl {
    color: #d8ffd3;
}

.tcsm {
    color: #6dff57;
}

.tcsb {
    color: #19bf00;
}

.tcwl {
    color: #ffffff;
}

.tcwm {
    color: #e0e0e0;
}

.tcwd {
    color: #b5b5b5;
}

.tcbl {
    color: #ffffff;
}

.tcbm {
    color: #e0e0e0;
}

.tcbd {
    color: #b5b5b5;
}