/* z-index */
.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.zx {
  z-index: 10;
}

.zx1 {
  z-index: 999;
}

.zx2 {
  z-index: 9999;
}

.zx3 {
  z-index: 99999;
}

.zx4 {
  z-index: 999999;
}

.zx5 {
  z-index: 9999999;
}

.zu {
  z-index: unset;
}
