.lstn {
    list-style-type: none;
}

.lstc {
    list-style-type: circle;
}

.lsts {
    list-style-type: square;
}

.lspo {
    list-style-position: outside;
}

.lspi {
    list-style-position: inside;
}